<div class ="post">
  <article class="card">
    <div class="card-header flex-row justify-space-between"></div>
    <h2>{{post.title}}</h2>
    <div>
      Posted by {{post.User.username}}
    </div>
  </article>
</div>